AUTH0_USERNAME = 'xxx'
AUTH0_PASSWORD = 'xxx'
AUTH0_CLIENT_ID = 'i0Vd23NIEYHJshBp92y4QICLUugQG3es'
AUTH0_CLIENT_SECRET = 'zFbL6kfEwZTOA34mxqcidjlEgmttuXJVSR73Z5a9SMhnzlyV-3RRHh96GnlbukjR'
AUTH0_CLIENT_ID_TEST_ADMIN = 'nkYsFkWwMxlecfu4NiJ5oQet6h3J2NXs'
AUTH0_CLIENT_SECRET_TEST_ADMIN = 'uUROKS8mfAEbLm7xEULsXKL_AZgyM2QYa7tDlSd9Mie6ANtCtgZx3HnY7th8fm1R'
AUTH0_CLIENT_ID_TEST_USER = '0fwfTVhepCRacT9oJVbQu0196oYgs5vn'
AUTH0_CLIENT_SECRET_TEST_USER = 'daZkjEiWHbIrBstlZmHKoDeOHyCJ7FdKhdK14XgaddbPMO_nSkFtbm_w3NclNntp'
AUTH0_DOMAIN = 'dev-k1vtlssj33h7vu2e.us.auth0.com'
ALGORITHMS = 'RS256'
API_AUDIENCE = 'https://api.math'
SECRET_KEY = 'f74d445b77f12068533db9ab1166ce2452ff90b1853c015aa4e8660881713659'
SQLALCHEMY_DATABASE_URI = 'postgresql://postgres@localhost:5432/math'
SQLALCHEMY_TRACK_MODIFICATIONS = False